html {
    font-family: 62.5%;
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
}



a {
    text-decoration: none;
}

h1{
    text-align: center;
    font-family: 'Orbitron';
    font-size: 80px;
}

h2{
    text-align: center;
    font-family: 'Orbitron';
}

h3{
    text-align: center;
    font-family: 'Orbitron';
}



.contenedor{
    width: 100%;
    height: 100%;
}


/*HEADER*/
.logo {
    text-align: center;
    margin-top: -4rem;
    margin-bottom: -4rem;
    padding-bottom: -1rem;
    background: rgb(73,208,227);
    background: linear-gradient(90deg, rgba(73,208,227,1) 10%, rgba(0,33,36,0.7231267507002801) 23%, rgba(163,204,192,0.31416316526610644) 55%, rgba(0,212,255,1) 100%);
    width: 100%;
}


.contenedorlogo:hover img {-webkit-transform:scale(0.8);transform:scale(0.8);}
.contenedorlogo {overflow:hidden;}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

.navegacion {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: rgb(73,208,227);
    background: linear-gradient(90deg, rgba(73,208,227,1) 0%, rgba(60,180,32,0.8883928571428571) 49%, rgba(18,223,242,0.9051995798319328) 100%, rgba(0,212,255,1) 100%);
    align-items: center;
    text-align: center;
}

.navegacion nav a {
    font-family: 'Orbitron';
    font-size: 20px;
    color: black;
    margin-left: 3rem;
    margin-right: 3rem;
    text-transform: uppercase;
    text-decoration: none; /* Quitar el subrayado */
    transition: color 0.3s ease;
}

.navegacion nav a:hover {
    color: white;
}


 /* Burger menu styles */
 .burger {
  font-size: 24px;
  cursor: pointer;
  display: none; 
}

.burger-toggle {
  display: none;
}


.contenedor-presentacion{
    background: rgb(66,151,133);
    background: linear-gradient(90deg, rgba(66,151,133,1) 21%, rgba(73,227,202,0) 44%, rgba(113,236,187,0.31416316526610644) 68%, rgba(30,115,135,1) 94%);
    padding-top: 5rem;
    padding-bottom: 7rem;
}



.presentacion {
    text-align: center;
    font-family: 'Neucha';
    font-size: 25px;
    margin-left: 7rem;
    margin-right: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;

}



.nombre {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Neucha';
}

.nombre {
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, red, gray, black);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }



.foto {
    border-radius: 15px; /* Redondea las esquinas */
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width: 400px; /* Ajusta el ancho de acuerdo a tus necesidades */
    height: 550px; /* Ajusta la altura de acuerdo a tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el contenedor en la página */
    text-align: center; /* Centra el texto horizontalmente */
    position: relative;
}

.foto img {
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    max-height: 100%; /* Asegura que la imagen no exceda el contenedor */
    width: 400px; /* Permite que la imagen conserve su relación de aspecto */
    height: 550px; /* Permite que la imagen conserve su relación de aspecto */
}



/*BOTON CONTACTAR*/
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    z-index: 1;
    position: relative;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Orbitron';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


/*FOOTER*/

.footer {
    background: rgb(188,242,18);
    background: linear-gradient(90deg, rgba(188,242,18,1) 0%, rgba(94,227,73,1) 12%, rgba(180,178,32,0.31416316526610644) 56%, rgba(228,255,0,1) 99%);
    font-size: 20px;
    color: black;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contenedor-footer
{
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.sociales{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.sociales a{
    margin-right: 2rem;
}


.contenedorimagen:hover img {-webkit-transform:scale(1.1);transform:scale(1.1);}
.contenedorimagen {overflow:hidden;}

.contenedorimagen:hover svg {-webkit-transform:scale(1.5);transform:scale(1.5);}
.contenedorimagen {overflow:hidden;}





/*RESPONSIVE*/
/*768px*/
@media (min-width: 768px) {
  main {
      flex-direction: row;
      justify-content: space-between;
  }

  .feature, .content {
      width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background: rgb(73,208,227);
    background: linear-gradient(90deg, rgba(73,208,227,1) 0%, rgba(60,180,32,0.8883928571428571) 49%, rgba(18,223,242,0.9051995798319328) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
    padding: 10px;
    z-index: 1; 
  }

  .nav-list.active {
    display: flex; 
  }

  .burger {
    display: block; 
    margin-left: 25rem;
    size: 10px;
  }

  .burger-toggle:checked ~ .nav-list {
    display: flex; 
  }

  .nav-list a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-list a:last-child {
    margin-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
  .contenedor-presentacion {
    flex-direction: column;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:100px;
    column-gap: 6rem;
}

.presentacion{
  text-align: center;
  font-family: 'Neucha';
  font-size: 15px;
  margin-left: 7rem;
  margin-right: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
}


.icon {
  width: 50px;
  height: 50px;
}

.sociales a {
  margin-right: 1rem;
}

.foto {
  width: 200px;
  height: 280px;
}

.nombre {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 10px;
  font-family: 'Neucha';
}

}






/*375px*/
@media (min-width: 375px) {
  main {
      flex-direction: row;
      justify-content: space-between;
  }

  .feature, .content {
      width: 48%;
  }
}

@media screen and (max-width: 375px) {
  .nav-list {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background: rgb(73,208,227);
    background: linear-gradient(90deg, rgba(73,208,227,1) 0%, rgba(60,180,32,0.8883928571428571) 49%, rgba(18,223,242,0.9051995798319328) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
    padding: 10px;
    z-index: 1; 
  }

  .nav-list.active {
    display: flex; 
  }

  .burger {
    display: block; 
    margin-left: 15rem;
    size: 10px;
  }

  .burger-toggle:checked ~ .nav-list {
    display: flex; 
  }

  .nav-list a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-list a:last-child {
    margin-bottom: 0;
  }
}



@media screen and (max-width: 375px) {
  .contenedor-presentacion {
    flex-direction: column;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:100px;
    column-gap: 6rem;
}

.presentacion{
  text-align: center;
  font-family: 'Neucha';
  font-size: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
}


.icon {
  width: 50px;
  height: 50px;
}

.sociales a {
  margin-right: 1rem;
}

.foto {
  width: 200px;
  height: 280px;
}

.nombre {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  font-size: 10px;
  font-family: 'Neucha';
}

}



@media screen and (max-width: 414px) {

  .burger {
    display: block; 
    margin-left: 15rem;
    size: 10px;
  }

.nombre {
  position: absolute;
  top: 45%;
}

}



/*
@media screen and (min-width: 390px) {

  .burger {
    display: block; 
    margin-left: 15rem;
    size: 10px;
  }

.presentacion{
  text-align: center;
  font-family: 'Neucha';
  font-size: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
}

.nombre {
  position: absolute;
  top: 45%;
}

}




@media screen and (min-width: 540px) {

.nombre {
  position: absolute;
  top: 55%;
}

}



@media (min-width: 912px) {
  main {
      flex-direction: row;
      justify-content: space-between;
  }

  .feature, .content {
      width: 48%;
  }
}

@media screen and (min-width: 912px) {
  .nav-list {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background: rgb(73,208,227);
    background: linear-gradient(90deg, rgba(73,208,227,1) 0%, rgba(60,180,32,0.8883928571428571) 49%, rgba(18,223,242,0.9051995798319328) 100%, rgba(0,212,255,1) 100%);
    width: 100%;
    padding: 10px;
    z-index: 1; 
  }

  .nav-list.active {
    display: flex; 
  }

  .burger {
    display: block; 
    margin-left: 35rem;
    size: 10px;
  }

  .burger-toggle:checked ~ .nav-list {
    display: flex; 
  }

  .nav-list a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-list a:last-child {
    margin-bottom: 0;
  }
}


@media screen and (min-width: 912px) {
  .contenedor-presentacion {
    flex-direction: column;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:100px;
    column-gap: 6rem;
}

.presentacion{
  text-align: center;
  font-family: 'Neucha';
  font-size: 15px;
  margin-left: 7rem;
  margin-right: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
}


.icon {
  width: 50px;
  height: 50px;
}

.sociales a {
  margin-right: 1rem;
}

.foto {
  width: 200px;
  height: 280px;
}

.nombre {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 10px;
  font-family: 'Neucha';
}

}






@media (min-width: 820px) {
  main {
      flex-direction: row;
      justify-content: space-between;
  }

  .feature, .content {
      width: 48%;
  }
}

@media screen and (min-width: 820px) {
  .contenedor-presentacion {
    flex-direction: column;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:100px;
    column-gap: 6rem;
}

.presentacion{
  text-align: center;
  font-family: 'Neucha';
  font-size: 15px;
  margin-left: 7rem;
  margin-right: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
}


.icon {
  width: 50px;
  height: 50px;
}

.sociales a {
  margin-right: 1rem;
}

.foto {
  width: 200px;
  height: 280px;
}

.nombre {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 10px;
  font-family: 'Neucha';
}

}




@media screen and (max-width: 1024px) {

  .nombre {
    position: absolute;
    top: 65%;
  }
  
  }



@media screen and (max-width: 1280px) {

  .nombre {
    position: absolute;
    top: 50%;
  }
  
  } */